In [77]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv (r'C:\Users\Trang\Desktop\Data Practice\Medicaid Data 2019.csv')
data.head(5)

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Suppression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
0,MCOU,AZ,64896068251,64896,682,51.0,2019,2,True,ZOMIG,NaN,NaN,NaN,NaN,NaN
1,FFSU,XX,60758011915,60758,119,15.0,2019,4,False,PREDNISOLO,3090.0,214.0,20424.28,20184.12,240.16
2,FFSU,XX,904608261,904,6082,61.0,2019,4,False,ZOLPIDEM 5,397.0,74.0,545.33,544.03,1.30
3,MCOU,XX,713013510,713,135,10.0,2019,4,True,PROCHLORPE,NaN,NaN,NaN,NaN,NaN
4,MCOU,XX,42043026257,42043,262,57.0,2019,2,True,CEFPROZIL,NaN,NaN,NaN,NaN,NaN

In [37]:
df2019 = pd.DataFrame(data, columns= ['State','Year','Quarter','Product Name','Number of Prescriptions'])
df2019.head(30)

   State  Year  Quarter Product Name  Number of Prescriptions
0     AZ  2019        2        ZOMIG                      NaN
1     XX  2019        4   PREDNISOLO                    214.0
2     XX  2019        4   ZOLPIDEM 5                     74.0
3     XX  2019        4   PROCHLORPE                      NaN
4     XX  2019        2    CEFPROZIL                      NaN
5     AZ  2019        4   ZOLPIDEM T                      NaN
6     XX  2019        4   OXYMORPHON                     62.0
7     XX  2019        1   CHILDREN'S                      NaN
8     XX  2019        1   PROMETHAZI                      NaN
9     XX  2019        3   OSMOLEX ER                      NaN
10    XX  2019        3       RANEXA                      NaN
11    XX  2019        2   TRIVIT/FLU                      NaN
12    XX  2019        4   RILUZOLE 5                      NaN
13    XX  2019        3    TEMAZEPAM                      NaN
14    XX  2019        4   DAPSONE 5%                     54.0
15    XX  2019        4   PANOXYL 10                     89.0
16    CA  2019        4   METHERGINE                      NaN
17    XX  2019        2   AMPICILLIN                      NaN
18    XX  2019        2   ZONISAMIDE                      NaN
19    XX  2019        1      GENPRIL                      NaN
20    FL  2019        4   DROSPIRENO                      NaN
21    XX  2019        4   VENLAFAXIN                      NaN
22    XX  2019        3   MOXIFLOXAC                      NaN
23    XX  2019        4   ACTOS  PIO                      NaN
24    XX  2019        3   FAMOTIDINE                      NaN
25    XX  2019        4   Cisatracur                      NaN
26    XX  2019        4   NYSTATIN/T                      NaN
27    XX  2019        3   AMLODIPINE                      NaN
28    XX  2019        2   FENOFIBRAT                    117.0
29    XX  2019        1    AVELOX IV                      NaN

In [25]:
Medicaid2019clean = df2019.dropna()
Medicaid2019clean.head(30)

    State  Year  Quarter Product Name  Number of Prescriptions
1      XX  2019        4   PREDNISOLO                    214.0
2      XX  2019        4   ZOLPIDEM 5                     74.0
6      XX  2019        4   OXYMORPHON                     62.0
14     XX  2019        4   DAPSONE 5%                     54.0
15     XX  2019        4   PANOXYL 10                     89.0
28     XX  2019        2   FENOFIBRAT                    117.0
30     ME  2019        4   HYDROCHLOR                     69.0
37     XX  2019        3   OLMESARTAN                    154.0
39     XX  2019        4    PRIMACARE                     43.0
53     XX  2019        3   FAZACLO 10                    311.0
54     XX  2019        3   LISINOPRIL                     26.0
63     XX  2019        2    ETOPOSIDE                     46.0
74     XX  2019        2   DARIFENACI                     33.0
83     XX  2019        4   MILK OF MA                    627.0
102    XX  2019        4   MINOCYCLIN                     46.0
111    XX  2019        3    METFORMIN                    200.0
115    XX  2019        2      UNKNOWN                     79.0
120    XX  2019        4   MUCINEX FA                     12.0
125    XX  2019        1   GLUCOPHAGE                     13.0
126    XX  2019        3   NIASPAN-NI                     24.0
132    XX  2019        4    TRILEPTAL                    685.0
137    XX  2019        4   CARVEDILOL                     59.0
140    XX  2019        1   FOLIC ACID                     16.0
146    XX  2019        3   HYDROMORPH                     12.0
147    XX  2019        3   DILANTIN 1                     15.0
151    AZ  2019        2   PAROXETINE                     55.0
152    XX  2019        4    ACYCLOVIR                     45.0
156    XX  2019        3   AZITHROMYC                   1871.0
160    XX  2019        1   LEVOMEFOLA                     25.0
173    XX  2019        3    ETOPOSIDE                     22.0

In [38]:
df = Medicaid2019clean.sort_values(by = ['State','Quarter','Number of Prescriptions'])
df

        State  Year  Quarter Product Name  Number of Prescriptions
32304      AK  2019        1    KETOROLAC                     12.0
505984     AK  2019        1   OXYBUTYNIN                     12.0
2585062    AK  2019        1   NUTROPIN A                     12.0
2636217    AK  2019        1   SPIRONOLAC                     12.0
2703194    AK  2019        1   PROPRANOLO                     12.0
...       ...   ...      ...          ...                      ...
4568303    XX  2019        4   FLUTICASON                 612154.0
4531484    XX  2019        4    ALBUTEROL                 682859.0
4859276    XX  2019        4   PROAIR HFA                 692909.0
4624990    XX  2019        4   FLUTICASON                 942400.0
4574301    XX  2019        4    ALBUTEROL                1707531.0

[2292357 rows x 5 columns]

In [199]:
ad2019 = df[df['Product Name'].str.lower().isin([x.lower() for x in {"Sertraline","Fluoxetine","Paroxetine","Citalopram","Escitalopram","Fluvoxamine","Vortioxetine","Vilazodone"}])]
ad2019

        State  Year  Quarter Product Name  Number of Prescriptions
2785086    AK  2019        1   FLUOXETINE                     12.0
2481882    AK  2019        1   PAROXETINE                     13.0
3575584    AK  2019        1   SERTRALINE                     13.0
3620794    AK  2019        1   CITALOPRAM                     14.0
4077293    AK  2019        1   FLUOXETINE                     14.0
...       ...   ...      ...          ...                      ...
4893880    XX  2019        4   FLUOXETINE                 118480.0
4560701    XX  2019        4   FLUOXETINE                 130089.0
4532025    XX  2019        4   SERTRALINE                 132789.0
4892755    XX  2019        4   FLUOXETINE                 144377.0
168255     XX  2019        4   SERTRALINE                 169707.0

[44061 rows x 5 columns]

In [69]:
data2 = pd.read_csv (r'C:\Users\Trang\Desktop\Data Practice\Medicaid Data 2020.csv')
data2.head(10)

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Supression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
0,FFSU,AK,74433907,74,4339,7.0,2020,2,True,HUMIRA PEN,NaN,NaN,NaN,NaN,NaN
1,FFSU,AK,93504501,93,5045,1.0,2020,3,True,DEXMETHYLP,NaN,NaN,NaN,NaN,NaN
2,FFSU,AK,143988601,143,9886,1.0,2020,3,True,AMOXICILLI,NaN,NaN,NaN,NaN,NaN
3,FFSU,AK,536106210,536,1062,10.0,2020,1,True,STOOL SOFT,NaN,NaN,NaN,NaN,NaN
4,FFSU,AK,23155010305,23155,103,5.0,2020,4,True,METFORMIN,NaN,NaN,NaN,NaN,NaN
5,FFSU,AK,29300013101,29300,131,1.0,2020,2,True,ZALEPLON,NaN,NaN,NaN,NaN,NaN
6,FFSU,AK,36000028325,36000,283,25.0,2020,3,True,FUROSEMIDE,NaN,NaN,NaN,NaN,NaN
7,FFSU,AK,50111039801,50111,398,1.0,2020,2,True,HYDRALAZIN,NaN,NaN,NaN,NaN,NaN
8,FFSU,AK,51672408306,51672,4083,6.0,2020,3,True,HYDROCORTI,NaN,NaN,NaN,NaN,NaN
9,FFSU,AK,51991070510,51991,705,10.0,2020,1,True,ALPRAZOLAM,NaN,NaN,NaN,NaN,NaN

In [82]:
df2020 = pd.DataFrame(data2, columns = ['State','Year','Quarter','Product Name','Number of Prescriptions'])
df2020

        State  Year  Quarter Product Name  Number of Prescriptions
0          AK  2020        2   HUMIRA PEN                      NaN
1          AK  2020        3   DEXMETHYLP                      NaN
2          AK  2020        3   AMOXICILLI                      NaN
3          AK  2020        1   STOOL SOFT                      NaN
4          AK  2020        4    METFORMIN                      NaN
...       ...   ...      ...          ...                      ...
4880133    NY  2020        4   MIRTAZAPIN                     97.0
4880134    AL  2020        3   GaviLyte -                    192.0
4880135    NY  2020        3   BICALUTAMI                      NaN
4880136    ID  2020        1   ORPHENADRI                      NaN
4880137    NY  2020        3   METHIMAZOL                      NaN

[4880138 rows x 5 columns]

In [83]:
Medicaid2020clean = df2020.dropna()
Medicaid2020clean.head(30)

     State  Year  Quarter Product Name  Number of Prescriptions
2601    AK  2020        4     NICOTROL                     37.0
2602    AK  2020        1   PAROXETINE                     14.0
2604    AK  2020        2      XARELTO                    126.0
2608    AK  2020        3   SERTRALINE                     13.0
2611    AK  2020        1   METHYLPRED                     19.0
2612    AK  2020        4   QUETIAPINE                    117.0
2616    AK  2020        2   CLONAZEPAM                     38.0
2617    AK  2020        3       BYETTA                     14.0
2627    AK  2020        4   NITROFURAN                     30.0
2628    AK  2020        2   DULOXETINE                    207.0
2629    AK  2020        1       DULERA                    348.0
2632    AK  2020        4       GIANVI                     54.0
2634    AK  2020        2     BYSTOLIC                     44.0
2636    AK  2020        3   CIPROFLOXA                     42.0
2637    AK  2020        4     DIAZEPAM                     33.0
2639    AK  2020        3   SPIRONOLAC                     46.0
2642    AK  2020        2    LIDOCAINE                     28.0
2643    AK  2020        3   BUPRENORPH                   1425.0
2646    AK  2020        1   CALCITRIOL                     23.0
2647    AK  2020        1   TRIAMTEREN                     40.0
2651    AK  2020        4   LEVETIRACE                     41.0
2653    AK  2020        2   CARBAMAZEP                     86.0
2656    AK  2020        2   AMOXICILLI                     47.0
2661    AK  2020        4   ALPRAZOLAM                     17.0
2662    AK  2020        2   METOPROLOL                     74.0
2664    AK  2020        2       VIMPAT                     50.0
2665    AK  2020        3   PROPRANOLO                     37.0
2666    AK  2020        3   AMOXICILLI                    134.0
2667    AK  2020        4   METHYLPHEN                     29.0
2675    AK  2020        4   BUPRENORPH                     21.0

In [84]:
df2020 = Medicaid2020clean.sort_values(by = ['State','Quarter','Number of Prescriptions'])
df2020

        State  Year  Quarter Product Name  Number of Prescriptions
3556       AK  2020        1      PENTASA                     12.0
3800       AK  2020        1   HALOPERIDO                     12.0
3865       AK  2020        1     CIPRO HC                     12.0
3950       AK  2020        1   CLOTRIMAZO                     12.0
4526       AK  2020        1    BUPROPION                     12.0
...       ...   ...      ...          ...                      ...
1600331    XX  2020        4   VITAMIN D2                 602657.0
1605870    XX  2020        4   VITAMIN D2                 655060.0
1476745    XX  2020        4    ALBUTEROL                 747445.0
1484482    XX  2020        4   FLUTICASON                 864902.0
1607243    XX  2020        4    ALBUTEROL                1330648.0

[2282565 rows x 5 columns]

In [198]:
ad2020 = df2020[df2020['Product Name'].str.lower().isin([x.lower() for x in {"Sertraline","Fluoxetine","Paroxetine","Citalopram","Escitalopram","Fluvoxamine","Vortioxetine","Vilazodone"}])]
ad2020

        State  Year  Quarter Product Name  Number of Prescriptions
10029      AK  2020        1   PAROXETINE                     12.0
40089      AK  2020        1   PAROXETINE                     12.0
17319      AK  2020        1   SERTRALINE                     13.0
34598      AK  2020        1   FLUOXETINE                     13.0
35310      AK  2020        1   PAROXETINE                     13.0
...       ...   ...      ...          ...                      ...
1622708    XX  2020        4   FLUOXETINE                 129338.0
1449591    XX  2020        4   SERTRALINE                 135659.0
1587964    XX  2020        4   SERTRALINE                 193395.0
1575290    XX  2020        4   FLUOXETINE                 203110.0
1591996    XX  2020        4   SERTRALINE                 238863.0

[44501 rows x 5 columns]

In [131]:
data3 = pd.read_csv (r'C:\Users\Trang\Desktop\Data Practice\Medicaid Data 2021.csv')
data3

,utilization_type,state,ndc,labeler_code,product_code,package_size,year,quarter,suppression_used,product_name,units_reimbursed,number_of_prescriptions,total_amount_reimbursed,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed
0,FFSU,AK,2143380,2,1433,80,2021,4,False,TRULICITY,552.0,225.0,223223.83,218738.63,4485.20
1,FFSU,AK,2143480,2,1434,80,2021,4,False,TRULICITY,714.0,277.0,289795.80,284447.68,5348.12
2,FFSU,AK,2143611,2,1436,11,2021,4,False,EMGALITY P,27.0,27.0,16648.52,16648.52,0.00
3,FFSU,AK,2144509,2,1445,9,2021,4,True,TALTZ AUTO,NaN,NaN,NaN,NaN,NaN
4,FFSU,AK,2144511,2,1445,11,2021,4,False,TALTZ AUTO,14.0,14.0,83578.05,72671.03,10907.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770453,FFSU,WY,76385013001,76385,130,1,2021,1,True,Cyprohepta,NaN,NaN,NaN,NaN,NaN
4770454,FFSU,WY,76385013301,76385,133,1,2021,1,True,Nadolol 20,NaN,NaN,NaN,NaN,NaN
4770455,FFSU,WY,76385013401,76385,134,1,2021,1,True,Nadolol 40,NaN,NaN,NaN,NaN,NaN
4770456,FFSU,WY,76385014401,76385,144,1,2021,1,True,Hydroxychl,NaN,NaN,NaN,NaN,NaN
4770457,FFSU,WY,76388088025,76388,880,25,2021,1,True,Tabloid Th,NaN,NaN,NaN,NaN,NaN

In [132]:
df2021 = pd.DataFrame (data3, columns = ['state','year','quarter','product_name','number_of_prescriptions'])
df2021

        state  year  quarter product_name  number_of_prescriptions
0          AK  2021        4   TRULICITY                     225.0
1          AK  2021        4   TRULICITY                     277.0
2          AK  2021        4   EMGALITY P                     27.0
3          AK  2021        4   TALTZ AUTO                      NaN
4          AK  2021        4   TALTZ AUTO                     14.0
...       ...   ...      ...          ...                      ...
4770453    WY  2021        1   Cyprohepta                      NaN
4770454    WY  2021        1   Nadolol 20                      NaN
4770455    WY  2021        1   Nadolol 40                      NaN
4770456    WY  2021        1   Hydroxychl                      NaN
4770457    WY  2021        1   Tabloid Th                      NaN

[4770458 rows x 5 columns]

In [164]:
df2021.rename(columns = {'state':'State', 'year':'Year', 'quarter':'Quarter', 'product_name':'Product Name', 'number_of_prescriptions':'Number of Prescriptions'}, inplace = True)
df2021

        State  Year  Quarter Product Name  Number of Prescriptions
32347      AK  2021        1   HUMULIN N                      11.0
32362      AK  2021        1   NULOJIX                        11.0
32401      AK  2021        1   JANUVIA                        11.0
32409      AK  2021        1   JANUMET                        11.0
32547      AK  2021        1   PREMARIN                       11.0
...       ...   ...      ...          ...                      ...
2510393    XX  2021        4                              554614.0
2490731    XX  2021        4                              555605.0
2488857    XX  2021        4                              812627.0
2444560    XX  2021        4                              824123.0
2501693    XX  2021        4                              960761.0

[2473041 rows x 5 columns]

In [166]:
df2021 = df2021.sort_values(by = ['State','Quarter','Number of Prescriptions'])
df2021

        State  Year  Quarter Product Name  Number of Prescriptions
32347      AK  2021        1   HUMULIN N                      11.0
32362      AK  2021        1   NULOJIX                        11.0
32401      AK  2021        1   JANUVIA                        11.0
32409      AK  2021        1   JANUMET                        11.0
32547      AK  2021        1   PREMARIN                       11.0
...       ...   ...      ...          ...                      ...
2510393    XX  2021        4                              554614.0
2490731    XX  2021        4                              555605.0
2488857    XX  2021        4                              812627.0
2444560    XX  2021        4                              824123.0
2501693    XX  2021        4                              960761.0

[2473041 rows x 5 columns]

In [194]:
ad2021 = df2021[df2021['Product Name'].str.lower().isin([x.lower() for x in {"Sertraline","Fluoxetine","Paroxetine","Citalopram","Escitalopram","Fluvoxamine","Vortioxetine","Vilazodone"}])]
ad2021

        State  Year  Quarter Product Name  Number of Prescriptions
35733      AK  2021        1   PAROXETINE                     11.0
36039      AK  2021        1   SERTRALINE                     11.0
39697      AK  2021        1   PAROXETINE                     11.0
41797      AK  2021        1   PAROXETINE                     11.0
34064      AK  2021        1   PAROXETINE                     12.0
...       ...   ...      ...          ...                      ...
4745075    WY  2021        4   SERTRALINE                    244.0
4742052    WY  2021        4   FLUOXETINE                    303.0
4743995    WY  2021        4   FLUOXETINE                    307.0
4743936    WY  2021        4   SERTRALINE                    342.0
4743938    WY  2021        4   SERTRALINE                    354.0

[43157 rows x 5 columns]

In [231]:
ad1 = ad2019.append(ad2020, ignore_index=True)
ad = ad1.append(ad2021, ignore_index=True)
ad

       State  Year  Quarter Product Name  Number of Prescriptions
0         AK  2019        1   FLUOXETINE                     12.0
1         AK  2019        1   PAROXETINE                     13.0
2         AK  2019        1   SERTRALINE                     13.0
3         AK  2019        1   CITALOPRAM                     14.0
4         AK  2019        1   FLUOXETINE                     14.0
...      ...   ...      ...          ...                      ...
131714    WY  2021        4   SERTRALINE                    244.0
131715    WY  2021        4   FLUOXETINE                    303.0
131716    WY  2021        4   FLUOXETINE                    307.0
131717    WY  2021        4   SERTRALINE                    342.0
131718    WY  2021        4   SERTRALINE                    354.0

[131719 rows x 5 columns]

In [232]:
AD = ad.groupby(['State','Year','Quarter','Product Name']).size()
AD

State  Year  Quarter  Product Name
AK     2019  1        CITALOPRAM       21
                      FLUOXETINE       32
                      PAROXETINE       19
                      SERTRALINE       25
             2        CITALOPRAM       22
                                     ...
XX     2020  4        CITALOPRAM      124
                      FLUOXETINE      268
                      Fluoxetine        1
                      PAROXETINE      177
                      SERTRALINE      170
Length: 3302, dtype: int64

In [237]:
ad = pd.DataFrame(AD, columns = ['Number of Prescriptions'])
ad

                                 Number of Prescriptions
State Year Quarter Product Name
AK    2019 1       CITALOPRAM                         21
                   FLUOXETINE                         32
                   PAROXETINE                         19
                   SERTRALINE                         25
           2       CITALOPRAM                         22
...                                                  ...
XX    2020 4       CITALOPRAM                        124
                   FLUOXETINE                        268
                   Fluoxetine                          1
                   PAROXETINE                        177
                   SERTRALINE                        170

[3302 rows x 1 columns]

In [234]:
ad.to_csv (r'C:\Users\Trang\Desktop\Data Practice\Antidepressants.csv')